<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .txt-1{

            margin-top: 2%;

            font-family: Verdana, Geneva, Tahoma, sans-serif;

        }
    </style>
</head>
<body>

    <h2>About</h2>
    
    <p class="txt-1">
        COEP has a well-equipped library with an integrated automation system installed recently through SLIM 21Ex.  It is one of the important resources centers of the institute serving both, students as well as the faculty of the institute.  The library has a varied collection comprising of books, technical reports, and periodicals.  A large number of National and International Print/Online Journals are subscribed covering all disciplines. The Library of College of Engineering Pune is a technology embracing library.
    </p>
</body>
</html>