{% comment %} CSS not working inside templates, however this code works if I execute it in isolation {% endcomment %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .books{



display: grid;

grid-template-columns: auto auto auto;
}

.book1{



height: 50vh;

background-image: url("MS_Chauhan.jpg");

background-size: cover;
}
.book2{



height: 50vh;

background-image: url("MS_Chauhan.jpg");

background-size: cover;
}
.book3{



height: 50vh;

background-image: url("MS_Chauhan.jpg");

background-size: cover;

}
    </style>
</head>
<body>

    <div class="books">

    <div class="book1"></div>
    <div class="book2"></div>
    <div class="book3"></div>

    </div>
    
</body>
</html>